*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color:#fff;
    --text-color:#222327;
    --main-color:#29fd53;
  }

body{
    background: var(--text-color);
    width: 100%;
    min-height: 100vh;
}


header {
    width: 94%;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--text-color);
    padding: 28px 3%;
    transition: all 0.5% ease;
}

header a{
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
  }
  
  .logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
  }
  
  .logo span {
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .navbar {
    display: flex;
  }
  
  .navbar a {
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 20px;
    transition: all 0.5s ease;
    text-transform: uppercase;
  }
  
  .navbar a:hover {
    color: var(--main-color);
  }
  
  .main {
    display: flex;
    align-items: center;
  }
  
  .main a {
    margin-right: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s ease;
  }
  
  .main a:hover {
    color: var(--main-color);
  }
  
  #menu-icon {
    font-size: 35px;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
  }
  
  .social-media a i {
    font-size: 22px;
    color: var(--bg-color);
    margin-right: 5px;
  }


ul li a{
    text-decoration: none;
}
.container{
    margin: 50px;
}

.container h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: -6rem;
    background: var(--text-color);

}
.container h1:hover{
    color: var(--bg-color);
}

.content{
    border: 5px solid var(--main-color) ;
    border-radius: 20px;
    display: grid;
    padding-top: 8rem;
    padding-bottom: 5rem;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 300px 300px auto;
    gap: 20px;
    z-index: 100;
}

.content-1,.content-2,.content-3,.content-4,
.content-5,.content-6,.content-7{
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}

.content-1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.content-3{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content-1 img{
    width: 300px;
}

.content-1 img:hover,.content-2 img:hover,.content-3 img:hover,
.content-4 img:hover,.content-5 img:hover,.content-6 img:hover{
    transform: translateY(-10px);
    transition: 0.2s;
}

.content-2 img{
    width: 400px;
    margin: auto;
}

.content-3 img{
    width: 300px;
}

.content-4 img{
    width: 400px;
    margin: auto;
}

.content-7 img{
    width: 400px;
    margin: auto;
}

.content-5 img{
    width: 300px;
}

.content-6 img{
    width: 300px;
}

.content-6{
    grid-column-start: 3;
}

.content-7{
    grid-row-start: 3;
    grid-column-start: 2;
}

.content-1 img,.content-2 img,.content-3 img,.content-4 img,.content-5 img,.content-6 img,.content-7 img{
    border-radius: 10px;
    box-shadow: rgba(53, 236, 71, 0.25) 0px 5px 5px 5px, rgba(212, 212, 212, 0.3) 0px 1px 3px -1px;
}

.cc {
    display: inline-block;
    background: var(--main-color);
    text-align: center;
    width: 100%;
    position: relative;

    margin-top: 30px;
  }

.cc p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: var(--text-color);
}

.cc a{
    text-decoration: none;
}