* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#fff;
    --text-color:#222327;
    --main-color:#29fd53;
  }

body {
    background:var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    border-radius: 10px;
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 100vh;
    min-height: 100vh;
    margin: 50px;
    color: var(--bg-color);
    background: var(--text-color);
    display: inline-block;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    justify-content: center;
    box-shadow: rgba(119, 226, 126, 0.35) 0px 5px 15px;}

.container .title{
    text-align: center;
}

.container .title h2{
    text-transform: uppercase;
    font-size: 2rem;
}

.container .title h2:hover{
    color: var(--main-color);
}

.container p{
    text-align: justify;
    font-size: 1rem;
}

.image{
    position: relative;
    text-align: center
}

.image img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 10px auto;
}
